<ion-header>
<custom-header [pageName]='pageName'></custom-header>
</ion-header>

<ion-content padding class="theme-body">
<ion-card class="news-card" *ngFor="let post of posts; let index = index ; trackBy:trackByIndex;">

      <ion-card-content>
        {{post.content}}
      </ion-card-content>
      <div *ngIf="!post.isliked && !post.isdesliked">
      <ion-row>
        <ion-col col-3>
          <button ion-button icon-left clear small (click)="like(index)">
            <ion-icon class="news-icon" name="thumbs-up"></ion-icon>
            <div>{{post.likes}}</div>
          </button>
        </ion-col>
        <ion-col col-3>
          <button ion-button icon-left clear small (click)="dislike(index)">
            <ion-icon class="news-icon" name="thumbs-down"></ion-icon>
            <div>{{post.dislikes}}</div>
          </button>
        </ion-col>
      </ion-row>
      </div>
      <div *ngIf="post.isliked">
      
      <p class="home-note">you and {{post.likes}} like this</p>
      
    </div>
    <div *ngIf="post.isdesliked">
      <p class="home-note">you and {{post.dislikes}} dislike this</p>
    </div>

</ion-card>
  <button class="theme-button" ion-button  menuToggle>Toggle Menu</button>
</ion-content>
