<ion-menu [content]="content">
  <ion-header class="theme-header">
    <ion-toolbar>
      <ion-title class="theme-text">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-content class="theme-body">
    <ion-row>
       <button  ion-button class="theme-button" (click)="openPage('HomePage')">
        Home
      </button>
    </ion-row>
    <ion-row>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="search()" ></ion-searchbar>
    </ion-row>
  <ion-row> 
   <ion-col> <button class="theme-button" ion-button (click)="setView(0)">list all</button> </ion-col>
   <ion-col> <button class="theme-button" ion-button (click)="setView(1)">Groups</button> </ion-col>
  </ion-row>
    <ion-row *ngIf="viewType ==1">
      <ion-col col-3 *ngFor="let item of groups" >
       <button class="filter-image-button" (click)="filter(1,item.name)">
      <img class="filter-image" [src]="item.image" >
       </button>
      </ion-col>
    </ion-row>
    <ion-list>
      <button menuClose ion-item class="theme-body theme-text" *ngFor="let p of filteredList" (click)="openPage(p)">
        {{p.name}}

      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>