page-item {
    background-color: #000000;
}




.items-cont{
    height: 100%;
}
.item-img{
    height: 50%;
    width: 30%;
}
.item-header{
        font-size: 24px;
    color: #000000;
}
.rest-input{
    width:20%;
    color: #000000 !important;
}
.rest-button{
    width: 13px;
    height: 19px;
    background-color: #000000;
}
.rest-item-price{
    text-align: center;
    font-size: 24px;
    vertical-align: bottom;
    margin-top: 10%;
}
.icon{
    color: #ffffff;
    background-color: #000000;
}