page-registeration {

}
.regestration-content{
    background-color: 	#003147;
}
.icon{
    color: 	#ffffff;
    font-size: 3em;
}
.regestration-row{
        margin: auto;
        width: 75%;
}
.text-input::-moz-placeholder {
  color: #000000;
}

.text-input:-ms-input-placeholder {
  color: #000000;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color:#000000;
}
.regestration-bottom{
    margin: auto;
    width: 50%;
    color: #ffffff;
    background-color:#000000 ;
}

ion-input{
    color: #000000;
}
input{
  width: 100%;
  color: #000000;
}
